{% extends 'base.html' %}

{% block title %}Сбросить пароль% endblock %}

{% block content %}
    <h1>Сбросьте свой пароль</h1>
    {% if validlink %}
        <p>Пожалуста, введите свой пароль дважды</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить мой пароль" /></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля была недействительной, возможно, потому что она уже использовалась.
            Пожалуйста, запросите новый пароль для сброса.</p>
    {% endif %}
{% endblock %}