{% extends 'crm/_crm_base.html' %}


{% block crm_content %}
<div class="container px-5 py-24 mx-auto">
    <div class="w-full mb-6 lg:mb-0">
        <h1 class="text-center"> ЛИД: {{ lead.first_name }} {{ lead.last_name }}</h1>
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="{% url 'crm:lead-detail' lead.pk %}">профиль лида</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'crm:lead-status-update' lead.pk %}">Статус</a>
              </li>
              {% if request.user.is_organisor %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'crm:lead-update' lead.pk %}" tabindex="-1" aria-disabled="true">Редактировать профиль лида</a>
              </li>
              {% endif %}
            </ul>
          </div>
          <div class="card-body">
            <p class="leading-relaxed mb-4">{{ lead.description }}</p>
            <hr>

            <div>
                <span>Возраст: </span>
                <span class="ml-auto ">{{ lead.age }}</span>
            </div>
             <hr>
            <div>
                <span>Email: </span>
                <span class="ml-auto">{{ lead.email }}</span>
            </div>
            <hr>
            <div>
                <span>Телефон: </span>
                <span class="ml-auto">{{ lead.phone_number }}</span>
            </div>
            <hr>
          </div>
        </div>
    </div>
</div>
{% endblock crm_content %}