{% extends 'crm/_crm_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Авторизация{% endblock %}


{% block crm_content %}

  {% if form.errors %}
    <p>
      Ваше имя пользователя или пароль не совпадают. Пожалуста, попробуйте ище раз.
    </p>
  {% else %}
    <p>Пожалуста, используйте ету форму для входа. Если у вас нет организации,
      <a href="{% url 'organisation-create' %}">зарегестрируйте организацию</a>
    </p>
  {% endif %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Войдите в свою учетную запись.</h4>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            {{ form|crispy }}

            <button type="submit" class="btn btn-primary btn-block">Вход</button>
        </form>
        <p><a href="{% url 'reset-password' %}">Забыли свой пароль?</a></p>
    </div>
</div>
{% endblock crm_content %}