[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "==0.5.0"
gunicorn = "==20.0.4"
pytz = "==2019.3"
sqlparse = "==0.3.1"
whitenoise = "==5.0.1"
Django = "*"
psycopg2 = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.9"
